body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#blue {
  background-color: #0891b2;
  width: 100%;
  margin: 0 auto;

  padding: 15rem 1rem;

  clip-path : polygon(
    0 0,
    100% 0,
    100% 50%,
    0 100%

  )
}

.hero-image{
    position: absolute;
    inset: 0;
    z-index: 5;
    width: clamp(300px, 16vw, 260px);
    transform: translate(10%, 10%);
   
    aspect-ratio: 2/3;

}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    border-radius: 3px;
    box-shadow: 1px 1px 10px #8a8a8a;
}

.about{
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 1rem;
  margin-top: 2rem;
}

.about h2{
  font-size: 3rem;
  color: rgb(82, 82, 82);
}
.about p{
  font-size: 1.8rem;
  color: rgb(145, 145, 145);
  margin-top: -1rem ;
}

#icons{
  display: flex;
  width: 100%;
 
  justify-content: center;
  gap: 1rem;
  margin-top: -3rem;
}
#icons img{
  width: 2.3rem;
}
